/* 게임 화면 전체 */
.game-screen {
  width: 600px;
  height: 800px;

  background-color: blanchedalmond;
  /* background-image: url("assets/berries-bg.png"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  border: 8px solid black;
  box-sizing: border-box;

  position: relative;
  padding: 0;
  margin: 0 auto;
}
